*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block; 
    background-color: #101010;    
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;  
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: #FA7682;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
}

.navigation{
    float: right;
    height: 100px;
}

.navigation a{
    height: 100%;
    display:table;
    float: left;
    padding: 0px 20px;

}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.hero_section{
    background-color: #EDE6DC;
}